body{
    background-color: rgba(215, 214, 214, 0.598);
    display: grid;
    grid-template-columns: minmax(300px, auto) 1fr;
    grid-template-areas: "navbar main-doc";
    grid-gap: 10px;
    margin: auto;
}

.main-doc{
    margin: 1em;
    text-align:  justify;
    grid-area: main-doc; 
    width: 60vw;
}
.navbar{
    grid-area: navbar;
    position:fixed;
    display: flex;
    flex-direction: column;
    
}
.navbar a{
    border: 1px solid black;
    padding: 5px;
    margin: 10px 0;
    color: rgb(0, 0, 0);
    text-decoration: none;
}


#header{
    font-size: 1.5em;
    font-weight: bold;
}
code{
    border-radius: 3px;
    background-color: rgba(60, 62, 62, 0.091); 
    margin: 0px;   
    padding: 10px 0 10px 0;     
}

/* @media screen and (max-width: 1375px){
    body{
        width: 60%;
       
    }
    .navbar{
        position: inherit;
    }
} */

@media screen and (max-width: 750px){
    body{
        grid-template-columns: 1fr;
        grid-template-areas: "navbar" "main-doc"; 
       
    }
    .navbar{
        position: inherit;
    }
}